body{
	background-color: black;
}
h1{
	text-align: center;
	color: wheat;
	text-shadow: 1px 1px yellow;
}
span{
	padding: 1rem;
}

.container{
	background-color: gray;
}

.soma{
	background-color: yellow;
	padding: 1rem;
}
.subtra{
	background-color: blue;
	padding: 1rem;
}
.multi{
	background-color: green;
	padding: 1rem;
}
.divis{
	background-color: gray;
	padding: 1rem;
}
.quad{
	background-color: brown;
	padding: 1rem;
}
.cubo{
	background-color: peru;
	padding: 1rem;
}
.pote{
	background-color: purple;
	padding: 1rem;
}
.primo{
	background-color: #565734;
	padding: 1rem;
}

.porcento{
	background-color: #657680;
	padding: 1rem;
}
.raiz{
	background-color: #985234;
	padding: 1rem;
}